<h1><%=@user.email %></h1>
<h1><%=@user.user_name %></h1>
<h1><%=@user.gender %></h1>
<h1><%=@user.city_name %></h1>
<h1><%=@user.fruits %></h1>

<h1><%=@user.password %></h1>
<h1><%=@user.password_confirmation%></h1>

<%=link_to "Home", welcomes_path %> 



